DATABASE_URL="postgresql://usuario:senha@localhost:5432/estoque_vinhos?schema=public"
AUTH_SECRET="troque-por-um-segredo-com-pelo-menos-32-caracteres"
APP_URL="http://localhost:3000"
APP_TIMEZONE="America/Sao_Paulo"
INITIAL_ADMIN_EMAIL="admin@example.com"
INITIAL_ADMIN_PASSWORD="troque-por-uma-senha-forte-com-15-ou-mais-caracteres"
INITIAL_ADMIN_NAME="Administrador"
